#container {
  width: 1330px;
  height: 650px;
  background-color: #000000;
  color: #00008b;
  margin: -20px 0 0 -10px;
  padding: 10px; }

#container2 {
  width: 1330px; }

.rectangle {
  width: 100%;
  height: 130px;
  margin-top: -20px;
  text-align: center;
  font-size: 25px;
  font-family: Pangolin; }

#smallerContainer {
  clear: both;
  font-family: Fondamento;
  width: 100%;
  height: 500px; }

#nav {
  float: left;
  width: 400px;
  height: 400px; }

#photo {
  float: left;
  width: 270px;
  height: 400px;
  text-align: center;
  background-image: url(tomasz1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 20px;
  font-family: Pangolin;
  color: #11ffff;
  border-radius: 60%; }

#photo2 {
  float: left;
  width: 500px;
  height: 500px;
  background-image: url(danpatala.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 45%; }

#nav2 {
  float: left;
  width: 600px;
  height: 400px;
  font-size: 25px;
  background-image: url(guitar.jpg);
  background-repeat: no-repeat;
  background-position: center; }
  #nav2 #quotation {
    margin-top: 140px;
    font-size: 25px;
    text-align: right; }

.internalLink {
  width: 200px;
  height: 60px;
  border-radius: 50%;
  margin-top: 7px;
  text-align: center;
  padding: 20px 0px 10px 0px; }

.internalLink:hover {
  border: dotted 3px #00008b;
  height: 54px; }

.btn {
  color: #00008b;
  padding: 10px;
  border-radius: 50%;
  border: solid 2px #00008b;
  font-size: 30px;
  text-decoration: none; }

.btn:hover {
  background-color: #00008b;
  color: #000000; }

#email {
  text-align: right;
  margin-top: 140px; }

a.tilelink {
  text-decoration: none;
  display: block;
  color: #11ffff; }

a.tilelink:hover {
  color: #ff0000; }

.feature {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-left: 100px;
  margin-top: 20px;
  line-height: 150px;
  font-size: 120px;
  border-radius: 15%;
  background-color: #00008b;
  color: #11ffff;
  box-shadow: 3px 3px 5px 2px; }

.feature:hover {
  width: 145px;
  height: 145px;
  margin-top: +25px;
  margin-left: +105px;
  box-shadow: 1px 1px 5px 2px;
  color: #ff0000; }

.feature2 {
  width: 320px;
  height: 70px;
  text-align: center;
  margin-left: 40px;
  margin-top: 100px;
  line-height: 70px;
  font-size: 45px;
  border-radius: 35%;
  background-color: #00008b;
  color: #11ffff;
  box-shadow: 3px 3px 5px 2px; }

.feature2:hover {
  width: 315px;
  height: 65px;
  margin-top: +105px;
  margin-left: +45px;
  box-shadow: 1px 1px 5px 2px;
  color: #ff0000; }

.name {
  float: left;
  margin-left: 10px; }

section {
  padding: 60px 0;
  color: #444444; }

.arts {
  background-color: #111111;
  width: 1330px; }

.section-title {
  text-align: center;
  background-color: orange;
  width: 1330px;
  font-family: Modak, cursive;
  font-weight: normal;
  font-size: 32px; }

.section-title:after {
  position: absolute;
  display: block;
  content: '------';
  width: 100px;
  height: 5px;
  background: green;
  left: 50%;
  bottom: -20px;
  margin-left: -50px; }

.section-title:before {
  position: absolute;
  display: block;
  content: '';
  width: 160px;
  height: 5px;
  background: green;
  left: 50%;
  bottom: 100px;
  margin-left: -80px; }

.artsWrapper {
  float: left;
  height: 400px;
  text-align: left;
  width: 40%; }

#artsWrapperR {
  width: 60%; }

#artsWrapperA {
  background-image: url(flames.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
  box-shadow: 1px 1px 5px 2px;
  color: #ff0000;
  width: 30%;
  margin: 0 30px 0 30px; }

.sentence {
  color: #00008b;
  font-size: 40px; }

.art {
  float: left;
  width: 300px;
  height: 300px;
  background-color: #111111;
  text-align: center;
  margin-left: 100px; }

.exp {
  margin-left: 5px;
  padding-bottom: 30px;
  float: left;
  background-color: #111111;
  text-align: center;
  position: relative;
  width: 200px;
  height: 200px;
  font-size: 24px;
  color: #ff0000; }

#exp1 {
  z-index: 5;
  padding: 30px 0 100px 0; }

#exp2 {
  z-index: 4; }

#exp3 {
  margin: 0;
  z-index: 1;
  opacity: 90%; }

#exp4 {
  z-index: 2;
  opacity: 90%; }

#exp5 {
  padding: 30px 0 100px 0;
  z-index: 3;
  opacity: 90%; }

.art i, .exp i {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 70px;
  color: #00008b;
  border-radius: 15%;
  box-shadow: 10px 10px 5px 2px;
  background-repeat: no-repeat;
  background-position: center; }

#art1 i {
  background-image: url(spider.jpg); }

#art2 i {
  background-image: url(eye.jpg); }

#art3 i {
  background-image: url(cat.jpg); }

#exp1 i {
  background-image: url(pics/lab3.jpg); }

#exp2 i {
  background-image: url(pics/auditorium.jpg); }

#exp3 i {
  background-image: url(pics/londonbus.jpg); }

#exp4 i {
  background-image: url(pics/singer.jpg); }

#exp5 i {
  background-image: url(pics/office.jpg); }

.art i:hover {
  margin-top: +5px;
  margin-left: +5px;
  box-shadow: 5px 5px 5px 2px;
  width: 350px;
  height: 350px;
  transition: all 0.5s; }

.exp i:hover {
  margin-top: -120px;
  box-shadow: 5px 5px 5px 2px;
  width: 480px;
  height: 480px;
  transition: all 0.5s; }
  .exp i:hover .exp-description {
    margin: 10px;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
    text-align: justify;
    font-family: Pangolin; }

#exp3 i:hover, #exp4 i:hover, #exp5 i:hover {
  margin-left: -270px; }

.art-description {
  height: 150px;
  text-align: justify;
  background-color: #cccccc;
  border-radius: 2%;
  margin: 10px;
  padding: 20px;
  color: #555555;
  font-family: Fondamento, cursive;
  box-shadow: 10px 10px 10px 2px; }

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  background-color: orange;
  width: 100%;
  padding: 20px;
  font-family: Modak, cursive;
  font-weight: normal;
  font-size: 32px; }

.link {
  float: right;
  width: 20%;
  padding: 30px 0 40px 0;
  background-color: orange;
  text-align: center;
  margin-top: 100px;
  margin-right: 20px;
  border-radius: 40%; }

.btn2 {
  padding: 10px;
  font-size: 14px;
  background-color: green;
  color: orange;
  border-radius: 45%;
  transition: all 0.5s; }

.btn2:hover {
  box-shadow: none;
  color: #000000;
  box-shadow: 5px 5px 2px 2px #333333; }

.blinking {
  animation: blinkingText 3.0s infinite; }

@keyframes blinkingText {
  0% {
    color: #00008b; }
  69% {
    color: #00008b; }
  70% {
    color: transparent; }
  89% {
    color: transparent; }
  90% {
    color: #00008b; } }
.recktangle1 {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #000000;
  color: #00008b;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: Pangolin; }

.square {
  float: left;
  width: 50%;
  height: 500px; }

#picture {
  background-image: url(pics/hat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 22px;
  font-family: Fondamento;
  color: #11ffff; }

.education {
  padding: 0 10px 5px 80px;
  width: 550px;
  height: 300px;
  background-color: #111111;
  border-radius: 10%;
  border: 2px solid #00008b;
  position: relative;
  color: #11ffff;
  text-align: justify;
  font-family: Pangolin; }

.education:hover {
  width: 520px;
  padding-left: 700px;
  transition: all 0.5s; }

.education1 {
  padding: 0 10px 5px 80px;
  width: 550px;
  height: 300px;
  background-color: #111111;
  border-radius: 10%;
  border: 2px solid #00008b;
  position: relative;
  top: -240px;
  color: #11ffff;
  text-align: justify;
  font-family: Pangolin; }

#education1 {
  position: relative;
  left: 30px; }

#education2 {
  position: relative;
  left: 60px;
  top: -480px;
  height: 320px; }

#education3 {
  position: relative;
  left: 90px;
  top: -740px;
  height: 310px; }

.education1:hover {
  width: 520px;
  padding-left: 700px;
  transition: all 0.5s; }

#education3:hover {
  padding-left: 660px;
  width: 560px; }

.smallRectangle {
  border-radius: 40%;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  background-color: #333333; }

.photos {
  width: 500px;
  height: 130px;
  background-color: #000000;
  margin: 20px 0 0 10px;
  border: 1px dotted #ffffff; }

.pict {
  width: 120px;
  height: 120px;
  margin: 5px 0 0 4px;
  float: left; }

.exp-description {
  margin-top: -15;
  font-size: 1px;
  line-height: 3px;
  text-align: justify; }

#change-color {
  width: 350px;
  margin-top: -240px;
  color: #00008b;
  font-family: arial;
  font-size: 16px;
  text-align: justify; }

/*# sourceMappingURL=style.css.map */
